@{
    ViewData["Title"] = "programacion 1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <div class="alert alert-success" role="alert">
  programacioncomputaciona I
</div>

<div id="Principal">
    <h2>Erick Cano</h2>
  <img src="https://scontent.fsal7-1.fna.fbcdn.net/v/t1.6435-9/94431578_230721638193531_3401060245219311616_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=174925&_nc_ohc=Vkz9WNHOwR4AX_CoJT1&tn=k7o-2wVOVjOUdOwc&_nc_ht=scontent.fsal7-1.fna&oh=56e8b2bfb8cbc01ec23c77e710ccf420&oe=61A5D097" id="Mi foto" width="150"  aling="left">
<br>
    
   



</div>

